****************************************************************************************
*                                                                                      *
* DRILL TAPE SUMMARY REPORT                                                            *
*                                                                                      *
* D:\DOCUMENTS\CIRCUIT LAYOUTS AND SCHEMATICS\SWTICH NETWORK\FINAL\SWITCH NETWORK.MAX  *
* Fri Nov 01 12:25:50 2013                                                             *
*                                                                                      *
****************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      189      200      100                                                                                 
T2       370      2        200      100                                                                                 
T3       420      45       200      100                                                                                 
T4       1200     2        200      100                                                                                 
