***************************************************************************************
*                                                                                     *
* DRILL TAPE SUMMARY REPORT                                                           *
*                                                                                     *
* C:\USERS\MAK\DESKTOP\60WAY ELECTRODE CONNECTOR\ELECTRODE_CONNECTOR-SMALLSQUARE.MAX  *
* Mon Feb 03 17:24:07 2014                                                            *
*                                                                                     *
***************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       197      60       200      100                                                                                 
