*******************************************************************************************************************************
*                                                                                                                             *
* DRILL TAPE SUMMARY REPORT                                                                                                   *
*                                                                                                                             *
* D:\DOCUMENTS\CIRCUIT LAYOUTS, SCHEMATICS AND MISC TECHNICAL\SWTICH NETWORK\NEW DESIGN MARCH 2015\SWITCH-NETWORK-ROUTED.MAX  *
* Thu Mar 26 14:47:54 2015                                                                                                    *
*                                                                                                                             *
*******************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      201      200      100                                                                                 
T2       370      2        200      100                                                                                 
T3       420      92       200      100                                                                                 
T4       1200     8        200      100                                                                                 
